@page "{studentId:int}"

@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Student.Name</h2>
<div>
    Id: @Model.Student.Id
</div>
<div>
    Age: @Model.Student.Age
</div>
<div>
    Gender : @Model.Student.Gender
</div>
<div>
    Fees : @Model.Student.Fees
</div>
<div>
    Department: @Model.Student.department
</div>
<div>
    Quota: @Model.Student.quota
</div>

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-default">All Students</a>

